
@font-face {
    font-family: "Playfair-Display";
    src: url("PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"),
    url("PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

body, html
{
    padding: 0px;
    margin: 0px;
    height: 100%;
}





body
{
    background-image: url("../images/planete-bocal-feuille.jpg");
    backdrop-filter: grayscale(40%) blur(5px);
    z-index: 1;
    /* contain: strict; */
}





#big-spacer
{
    /* background-color: aliceblue; */
    height: 100%;
}










body > footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color:beige;
    left: 0;
    max-width: 100%;
    font-family: "Playfair-Display", cursive;
    row-gap: 0px;
}













#about
{
    flex: 1 5 300px;
    padding: 30px;
    /* padding-top: 0px; */
    min-width: 150px;
}







#about h3
{
    font-size: 1.5em;
}












#contact
{
    border-image: linear-gradient(0deg, beige, beige, #707070, #707070, #707070, beige, beige);
    border-image-slice: 1;

    flex: 3 1 350px;
    border-left: 1px solid;
    padding-left: 4px;
    /* min-width: 220px; */
    margin-left: -5px;
    overflow: hidden;


    background-color: beige;
}



#contact > div
{
    border-image: linear-gradient(90deg, beige, beige, #707070, #707070, #707070, beige, beige);
    border-image-slice: 1;
    border-bottom: 1px solid;

    padding: 30px;
}






#mail
{
    font-style: normal;
    font-weight: 700;
    font-size: large;
}



.anti-wrap-span
{
    white-space: nowrap;
}















