


body, html
{
    padding: 0px;
    margin: 0px;
}



body > footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color:beige;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}






#about
{
    flex: 1 5 50px;
    padding: 10px;
    padding-top: 0px;
    min-width: 150px;
}








#contact
{
    flex: 2 1 50px;
    border-left: 1.5px solid;
    padding-left: 25px;
    border-image: linear-gradient(0deg, beige, beige, #707070, #707070, #707070, beige, beige);
    border-image-slice: 1;
    margin-left: -4px;
    overflow: hidden;
    min-width: 250px;
}



